# Virtual environment
venv/
ENV/
env/
.venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# VS Code / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Django stuff
*.sqlite3
db.sqlite3

# Migrations (اختیاری: اگه می‌خوای migrationها رو نذاری تو گیت)
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Pytest
.pytest_cache/

